.about{
    background: linear-gradient(white,rgb(196, 196, 225),white); 
    margin-bottom: 0; 
}
body{
    height: 100vh;
    width: 100%;
    background-image: url(../Media/background/1.jpg);
    background-repeat: no-repeat;
    background-size: 100%; 
    animation: change 30s infinite ease-in-out;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
 @keyframes change{
    15%{
        background-image: url(../Media/background/2.jpg);
    }
    30%{
        background-image: url(../Media/background/3.jpg);
    }
    45%{
        background-image: url(../Media/background/index.jpeg);
    }
    60%{
        background-image: url(../Media/background/img2.jpeg);
    }
    75%{
        background-image: url(../Media/background/img3.jpeg);
    }
    90%{
        background-image: url(../Media/background/img4.jpeg);
      }
    100%{
        background-image: url(../Media/background/img5.jpeg);

    }
    } 


.jobrole{
    
    margin-top: 200px;
    /* width: 850px;
    height: 450px; */
    /* margin-left: 20%; */
    background:transparent;
    border-radius: 20px;
    border: 2px solid rgb(22, 0, 68) ;
    backdrop-filter:blur(10px);
    margin-bottom: 0px;
    box-shadow: 0 0 10px 0 (white,rgb(196, 196, 225),white);
    padding-bottom: 20px;
    padding-left: 20px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    width: 60%;
    text-align: center;
}
.homebody{
    margin-bottom: 0;
}
.jobrole h3, .jobrole p{
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
    color: rgb(22, 0, 68);
    margin-left: 0;
    margin-top: 2%;
    /* font-size: 20px; */

}
.formhome{
    margin-top: 10px;
    margin-left: 0%;
}
.formhome>input{
    width: 450px;
    height: 40px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 5px;
    background: transparent;


}
input::placeholder{
    color: rgb(22, 0, 68)ay;
}
.formhome>label{
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 5px;
    color: rgb(22, 0, 68);


}
.search{
    width: 450px;
    height: 40px;
    border: 3px solid rgb(22, 0, 68);
    border-radius: 5px;
    color: rgb(22, 0, 68);
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 0%;
    background: transparent;



}

.about{
    display: grid;
    }
    


.about h1{
    color: rgb(11, 11, 5);
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;

}
.about p{
    color: rgb(22, 0, 68);
    text-align: center;
    font-size: 25px;
   
}
.about a{
    color: white;
    text-align: center;
    text-decoration: none;
    border: 2px solid rgb(22, 0, 68);
    background-color: rgb(22, 0, 68);
    width: 300px;
    margin-left: auto;
    margin-right: auto;
   
}
.contact{
    /* margin-top: 5%; */
    margin-left: 20%;
    margin-bottom: 5%;

}
.about h1, h2, h3{
    font-weight: bold;

    color: rgb(22, 0, 68);
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;

}
.footer{
    margin-top: 0;
}
.droplist{
    width: 450px;
    height: 40px;
    border: 3px solid rgb(22, 0, 68);
    border-radius: 5px;
    background: transparent;
    color: rgb(22, 0, 68);
    text-align: center;
    font-weight: bold;
}
table{
    border: 2px rgb(22, 0, 68) solid;
max-width: 1000px;
}
tr{
    border: 2px rgb(22, 0, 68) solid;
    text-align: center; 
    height: 50px;

    
}
td{
    border: 2px rgb(22, 0, 68) solid;
    text-align: center;

}
th{
    border: 2px rgb(22, 0, 68) solid;
    text-align: center;
    background-color: rgb(22, 0, 68);
    color: white;
}


.contacttable{
    margin-top: 5%;
    align-items: center;
    margin-left: 30%;
    margin-right: 10%;
    margin-bottom: 5%;
}
.aboutcontainer{
    margin-top: 20%;
}