*{
    padding: 0;
    margin: 0;
}
header img{
    width: 150px;
    margin-left: 0%;
    margin-top: 0;

}

.NavBar{
    position: absolute;
    width: 95%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}
.navlist li a{
    color: white;
    text-decoration: none;
   
    margin-right: 60px;
    padding: 10px;


}
.navlist{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: larger;
}
.SignIn{
    border: none;
  
    text-decoration: none;
    text-transform: uppercase;
    background-color: white;
    color: rgb(13, 2, 64);
    padding: 10px;
    border-radius: 10px;


   
}
.navlist li a:hover, a:active{
    background-color: white;
    border-radius: 10px;
    color: rgb(13, 2, 64);

}
